//colors
$primary-color: #283e4a;
$primary-font-color:#e1e9ee;
$primary-gary :#E1E9EE;
$secondary-gray:#AAB3B8;
$thirdly-gray:#D5D5D5;
$fourthly-gray: #AFAFAF;
$fifthly-gray:#727577;
$primary-blue: #0073B1;
//fonts
$small-size: 1.2rem;
$primary-size: 1.6rem;