<div class="nav">
    <div class="nav__logo">
        <img src="../../../assets/images/linkedin-512.png">
    </div>
    <div class="nav__search">
        <i class="fas fa-search"></i>
        <input class="search_box " placeholder="  Search">
    </div>
    <ul class="nav__menu">
        <li class="menu__item" routerLink="home/2">
            <a class="item__link" >
                <div>
                    <i class="fas fa-home"></i>
                    Home
                </div>
            </a>
        </li>
        <li class="menu__item" routerLink="home/1">
            <a class="item__link">
                <div>
                    <i class="fas fa-user-friends"></i>
                    My Network
                </div>
            </a>
        </li>
        <li class="menu__item">
            <a class="item__link">
                <div>
                    <i class="fas fa-briefcase"></i>
                    Jobs
                </div>
            </a>
        </li>
        <li class="menu__item">
            <a class="item__link">
                <div>
                    <i class="far fa-comments"></i>
                    Messaging
                </div>
            </a>
        </li>
        <li class="menu__item">
            <a class="item__link">
                <div>
                    <i class="far fa-bell"></i>
                    Notifications
                </div>
            </a>
        </li>
        <li class="menu__item border">
            <a class="item__link" routerLink="/profile/1">
                <!-- <div class="image"></div> -->
                <img class="image" src="../../../assets/images/user.jpg">
                <div class="image__border">
                    <!-- Me <span>&blacktriangledown; </span> -->
                </div>
            </a>
        </li>
        <li class="menu__item">
            <a class="item__link">
                <div>
                    <i class="fas fa-th"></i>
                    <!-- Work <span> &blacktriangledown;</span> -->
                    <!-- <i class="fas fa-caret-down arrow"></i> -->
                </div>
            </a>
        </li>

    </ul>
</div>
