// .profile{
//     display: flex;
//     margin-top: 2rem;
//     margin-left: 13%;
   
    

//     &__main{
//         width:62%;
//         height: 28rem;
//         border-color: $primary-font-color;
//         border-width: 0.01rem;
//         border-style: solid;
//         margin-right: 1.5rem;

//         .cover{
//             border-color: $primary-font-color;
//             border-width: 0.01rem;
//             border-style: solid;
//             height: 45%;
//         }
//         .photo{
//             border-color: $primary-font-color;
//             border-width: 0.01rem;
//             border-style: solid;
//             border-radius: 50%;
//             // height: 10px;
//             background-color: green;
//             width: 20%;
//             height: 30%;
//             margin-left: 5%;
//             //position: relative;
            
//         }
//     }
   
// }
/////////////////////////////////////////////////////////////////////////////
///////ayaaaa
body{background-color: rgb(241, 241, 241);}
// body,html{
//     // width: 100%;
//     // height: 100%;
//     // padding: 0;
//     // margin: 0;
// }
.profile{
    //display: flex;
    margin-top: 2rem;
    margin-left: 13%;
    //border: 2px solid red;
    width:62%;
    //height: 28rem;
    
    &__pictures{
        position: relative;
        &__background{
            width:100%;
            padding: 0em;
            margin: 0em;
            display: block;
        }
        &__photo{
            border: 3px solid rgb(241, 238, 238);
            border-radius: 50%;
            width:170px;
            margin-top: -85px;
            margin-left: 5%;
            position: absolute; 
            z-index: 1;

        }
    }
    &__container{
        background-color: #ffffff;
        height: 215px;
        //position: relative;
        border: 1px solid rgb(178, 180, 182);
        box-shadow:0.5px 0.5px 5px #888888 ;
        padding:0%;
        width: 100%;
        //margin-top: -116px;
        z-index: 0;

        &__controls{
            display:flex;
            margin-left:30%;
            margin-top:5px;

        }
        // .group{
        //     display:flex;
        // }
        &__persondetails{
            margin-top: 36px;
            margin-left: 5%;

            &__contactInfo{
                display:flex;

                a{
                    text-decoration: none;
                    margin-left:5px;
                }
            }
        }
    }
    &__dropdown{
        display:block;
        width:178px;
        border:1px solid gray;
        margin-left:65%;
        margin-top:-20%;
        // position: relative;
      ul{
          list-style: none;

          li{
            margin-left:0%;
           
            a{
                font-size: 1rem;
                text-decoration: none;
                color: rgb(34, 33, 33);
                // &:hover{
                //     background-color: lightcyan;
                    
                // }
            }
          }
          
      }

    }
    .hidden{
            display: none;
        }
     //aside here
        &__aside{
            position: absolute;
            margin-left:860px;
           
            &__picture{
              position: relative;
              margin-top:-750px;
               &img{
                   width:100%;
               }
            }
        }
        &__interest{
            width:100%;
            min-height:150px;
            max-height: fit-content;
            background-color: white;
            border: 1px solid rgb(178, 180, 182);
            margin-top:15px;
            margin-bottom: 15px;
            box-shadow:0.5px 0.5px 5px #888888 ;
        }
    //about here
        &__about{
            width:100%;
            min-height:150px;
            max-height: fit-content;
            background-color: white;
            border: 1px solid rgb(178, 180, 182);
            margin-top:15px;
            margin-bottom: 15px;
            box-shadow:0.5px 0.5px 5px #888888 ;
            &__header{
                margin-top:10px;
                display:flex;
                padding-left: 12px;
                // padding-right: 12px;
                .h4{
                    margin:5px;
                }
                &__btn{
                    margin-left: 700px;
                    margin-top: 4px;

                }
            }
            &__content{
                margin-left:12px;
            }
            
        }
    //skills here
        .skill__edite{
            display:flex;
            margin-left: 430px;
            margin-top:2px;
            &__btn{
                border: none;
                background-color: white;
                &:hover{
                    background-color: rgb(223, 223, 223);
                }
            }
            &__icon{
                margin-left: 8px;
            }

        }
        .skill__content{
            margin-top: 15px;
            margin-right: 15px;
            
        }
        .skill__search{
            &__input{
            position: relative;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 6px;
            margin-bottom: 0px;
            margin-left: 20px;
            width: 90%;
            padding-left:5px;
           
            }
            &__data{
                display:flex;
                margin-left: 20px;
                margin-top:20px;
                .para{
                    background-color: rgb(25, 151, 201);
                    color:white;
                    border-radius: 40px;
                    padding:10px;
                    padding-top:5px;
                    height:30px;
                    margin-right:2px;
                    &:hover{
                        cursor: pointer;
                    }
                }
           
            }

             &__options{
                option{
                    width: 90%;

                }

            }
            &__submit{
                margin-top:100px;
            }
        }
        .top-skill{
            background-color: rgba(169, 196, 247, 0.368);
            margin-top:-15px;
            height: 50px;
            margin-bottom: 0px;
            p{
                padding-top:10px;
                margin-left: 12px;
            }
        }
        .edite-list{
            padding:0px;
            &__item{
            display:flex;
            margin-bottom: 0px;
            padding-bottom:0px;
            p{  
             margin-left: 12px
            }
            span{
                margin-left:568px;
                &:hover{
                    color:rgb(196, 45, 45);
                }
            }
            }

        }
       
        .saveEdite{
           margin-top:100px;
        }
        //end of skill

}
   



