<div class="postContainer" >
    <div class="postContainer__info">
      <div class="postContainer__info__img">
        <img src={{post.user.profile.profileImgPath}}
        width="30rem"
        style=" border-radius: 50%;" />
      </div>
      <div class="postContainer__info__details">
        <div class="postContainer__info__details__name">
          <a>{{post.user.name.firstName}}</a>
        </div>
        <div class="postContainer__info__details__job">
          {{post.user.profile.headLine}}
        </div>
        <div class="postContainer__info__details__postingTime">
          <span> 1W</span> <img src="../../../assets/images/world.svg" width="10rem">
        </div>
      </div>
    </div>
    <div class="postContainer__content" >
      {{post.postContent}}
    </div>
    <div>{{post.likesNum}} likes.{{post.comments.length}} comments</div>
    <div class="postContainer__reaction">
      <div class="postContainer__reaction__icon" (click)="addLike()">
        <img class="iconz" src="../../../assets/images/004-like.svg" width="17rem"/>
        <span>like</span>
      </div>
      <div class="postContainer__reaction__icon">
        <img class="iconz" src="../../../assets/images/005-comment.svg" width="17rem"/>
        <span (click)="showComment()">comment</span>
      </div>
      <div class="postContainer__reaction__icon">
        <img class="iconz" src="../../../assets/images/006-share.svg" width="17rem"> <span>share</span>
        
      </div>
    </div>
    <div class="postContainer__commentAdd" [ngClass]={hidden:isCommentHidden}>
      <img  src={{user.profile.profileImgPath}}>
      <input placeholder="write your comment" (keydown)="addNewComment($event,newComment.value)" #newComment>
    </div>
    <div class="postContainer__commentContainer"
     *ngFor="let comment of post.comments"
     [ngClass]={hidden:isCommentHidden}>
      <img  src={{user.profile.profileImgPath}}>
      <div class="myComment">
       <div class="myComment__title">
        <p>{{user.name.firstName}}</p>
        <span>{{rhours}}:{{rminutes}}</span>
       </div> 
        <p>{{comment}}</p>
      </div>
      
    </div>
    
    
  </div>