<div class="profile">
  <!-- edit profile data here active for display-->
  <div class="profile__editForm profile__editeAbout " [ngClass]={hidden:isEditProfileClicked}>
    <div class=" profile__editeAbout__editeContainer profile__editForm__editFormContainer">

      <div class=" profile__editeAbout__editeContainer__header ">
        <h5 class="h5">Edite Info</h5>
        <span class=" profile__editeAbout__editeContainer__header__icon" (click)="displayEditForm()"><i
            class=" i fa fa-window-close" aria-hidden="true"></i></span>
      </div>

      <div class="profile__editeAbout__editeContainer__body ">
        <div class="profile__editForm__editFormContainer__body__picturesEdite">
          <div class="profile__editForm__editFormContainer__body__picturesEdite__background">
            <img class="profile__pictures__background" alt="cover" src="../../../assets/images/download.jpg">

          </div>
          <img alt="profile" class="profile__pictures__photo" src={{user.profile.profileImgPath}}>
        </div>
      </div>


      <div class="profile__editForm__editFormContainer__editInput">
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
          <div class="flex">
            <div class="name">
              <h6>FirstName<span>*</span></h6>
              <input [ngModel]="user.name.firstName" name="userFirstName" #firstName>
            </div>
            <div class="headline">
              <h6>LastName<span>*</span></h6>
              <input [ngModel]="user.name.lastName" name="userLastName">
            </div>

          </div>
          <div class="headline">
            <h6>Headline<span>*</span></h6>
            <textarea [ngModel]="user.profile.headLine" class="edit-form" name="headLine"></textarea>
          </div>
          <div class="education">
            <h6>Education<span>*</span></h6>
            <!-- <select class="edit-form">
              <option *ngFor="let item of user.profile.education; let i = index; ">{{item}}</option>
            </select> -->
            <input  class="edit-form" [ngModel]="user.profile.education" type="text" name="education"  />
          </div>

          <div class="education">
            <h6>Address<span>*</span></h6>
            <input class="edit-form" [(ngModel)]="user.address" name="address" />
          </div>

          <div class="edit-btn">
            <button class="profile__editeAbout__editeContainer__body__button" type="submit">Save</button>
          </div>
        </form>
      </div>

    </div>


  </div>
  <!-- --------------------/////------------------------- -->
  <div class="profile__pictures">
    <div class="profile__pictures__background">
      <img class="profile__pictures__background" alt="cover" src="../../../assets/images/download.jpg">
    </div>

    <img alt="profile" class="profile__pictures__photo" src={{user.profile.profileImgPath}}>




  </div>
  <div class="profile__container">
    
    <div class="profile__container__controls">
      <button class="profile__container__controls__addsection" (click)="dispalyAddProfileForm()">

        Add Profile Section
        <!-- <span><i >&blacktriangledown;</i></span> -->
      </button>
      <button type="button" class="profile__container__controls__morebtn">More...</button>
      <div class="profile__container__controls__editebtn" (click)="displayEditForm()">
        <span><i class="fas fa-pencil-alt edit_pen"></i></span>
      </div>
    </div>
    <div class="profile__dropdown " [ngClass]={hidden:isAddProfileClick}>
      <ul>
        <li><a (click)="displayEditForm()">Intro</a></li>
        <li><a>About</a></li>
        <li><a>Featured</a></li>
        <li><a>Skill</a></li>
        <li><a>background</a></li>
  
      </ul>
    </div>
    <div class="profile__container__persondetails ">
      <h3>{{user.name.firstName}}</h3>
      <h5>{{user.profile.headLine}}</h5>
      <div class="profile__container__persondetails__contactInfo">
        <h6>{{user.address}}</h6>

      </div>
      <div>
        <a href="#">Contact Info</a>
        <span> | {{user.email}}</span>
      </div>
    </div>
    <div class="profile__container__square">
      show recuriters you're open to job opportunities__ you control who sees this.
      <br>
      <p>Get Started</p>
    </div>
  </div>

  

  <!--About section-->
  <div class="profile__about">
    <div class="profile__about__header">
      <h4 class="h4">About</h4>
      <div class=" profile__about__header__btn  profile__container__controls__editebtn">
        <span (click)="displayAboutForm()"><i class="fas fa-pencil-alt edit_pen"></i></span>
      </div>
    </div>
    <div class="profile__about__content">
      <p>{{user.profile.about}}</p>
    </div>
  </div>
  <!--here add_form_component-->
  <div class="profile__editeAbout " [ngClass]={hidden:isAboutFormClicked}>
    <div class="profile__editeAbout__editeContainer">
      <div class=" profile__editeAbout__editeContainer__header">
        <h5 class="h5">Edite about</h5>
        <span class=" profile__editeAbout__editeContainer__header__icon" (click)="displayAboutForm()"><i
            class=" i fa fa-window-close" aria-hidden="true"></i></span>
      </div>
      <hr>
      <div class="profile__editeAbout__editeContainer__body">
        <form #myForm2="ngForm" (ngSubmit)="onSubmitAbout(myForm2)">
          <label>Summary</label>
          <textarea [ngModel]="user.profile.about" name="aboutUser" placeholder="Enter Your About"
            class="profile__editeAbout__editeContainer__body__text"></textarea>
          <hr>
          <div>
            <button class="profile__editeAbout__editeContainer__body__button" type="submit">Save</button>
          </div>
        </form>
      </div>


    </div>
  </div>
  <!--end of add_form_component -->
  <!-- Education -->
  <div class="profile__interest">
    <h4>Education</h4>
    <div class="item">
      <div class="photo">
        <img src="../../../assets/images/iti.jpg">

      </div>
      <div class="titles">
        <p class="p1">{{user.profile.education}}</p>

        <p class="p2">Trainee</p>
      </div>
    </div>
    <hr>
    <div class="item">
      <div class="photo">
        <img src="../../../assets/images/cs.png">

      </div>
      <div class="titles">
        <p class="p1">Faculty Of computer science </p>

        <p class="p2">Grduate</p>
      </div>
    </div>

  </div>
  <!-- skill section-->
  <div class="profile__about ">
    <div class="profile__about__header">
      <h4 class="h4">Skills &Endorsements</h4>

      <div class="skill__edite">
        <button class="skill__edite__btn" (click)="displayAddSkillForm()">Add a new skill</button>
        <div class=" profile__container__controls__editebtn skill__edite__icon">
          <span (click)="displayEditSkillForm()"><i class="fas fa-pencil-alt edit_pen"></i></span>
        </div>
      </div>
    </div>
    <div class="profile__about__topSkills">
      <p>Top Skills</p>
    </div>
    <div *ngFor="let skill of user.profile.skills" class="profile__about__content skill__content">
      <p>{{skill}}</p>
      <hr>
    </div>
  </div>
  <!--here add_form_component for skill-->
  <div class="profile__editeAbout" [ngClass]={hidden:isAddSkillClicked}>
    <div class="profile__editeAbout__editeContainer">
      <div class=" profile__editeAbout__editeContainer__header">
        <h5 class="h5">Add Skills</h5>
        <span class=" profile__editeAbout__editeContainer__header__icon" (click)="displayAddSkillForm()">
          <i class=" i fa fa-window-close" aria-hidden="true"></i></span>
      </div>
      <hr>
      <div class="profile__editeAbout__editeContainer__body">
        <div class="skill__search ">
          <form>
            <!-- <span class="fa fa-search form-control-feedback"></span> -->
            <input #skill (keydown)="onSkillAdded($event,skill)" placeholder="Skill (ex:Data Anaysis)" type="text"
              class="skill__search__input" list="skillName">
            <!-- <datalist class="skill__search__options " id="skillName">
              <option value=" Adobe Photoshop">
              <option value="Drawing">
              <option value="Develope">
            </datalist> -->
            <!-- <input class="skill__search__options "> -->
            <div *ngFor="let skill of user.profile.skills" class="skill__search__data">

              <span class="para">{{skill}}</span>


            </div>
            <div class="skill__search__submit">
              <hr>
              <button class="profile__editeAbout__editeContainer__body__button" (click)="hideAddSkills()">Add</button>
            </div>
          </form>
        </div>
        <!---->
      </div>

    </div>
  </div>
  <!--edite skill-->
  <div class="profile__editeAbout" [ngClass]={hidden:isEditSkillClicked}>
    <div class="profile__editeAbout__editeContainer">
      <div class=" profile__editeAbout__editeContainer__header">
        <h5 class="h5">Edite skill</h5>
        <span class=" profile__editeAbout__editeContainer__header__icon" (click)="displayEditSkillForm()"><i
            class=" i fa fa-window-close" aria-hidden="true"></i></span>
      </div>
      <hr>
      <div class="profile__editeAbout__editeContainer__body">
        <div class="top-skill">
          <p>Top Skills</p>
        </div>

        <div>
          <div class="edite-list">
            <div *ngFor="let item of user.profile.skills" class="edite-list__item">
              <p>{{item}}</p>
              <span (click)="OnSkillDeleted(item)"><i class=" i fa fa-trash" aria-hidden="true"></i></span>
            </div>

          </div>

        </div>

        <div class="saveEdite">
          <hr>
          <button class="profile__editeAbout__editeContainer__body__button"
            (click)="displayEditSkillForm()">Save</button>
        </div>
      </div>
    </div>
  </div>



  <!--end of skill-->

  <!-- iterest section-->


  <!--section aside-->
  <div class="profile__aside hidden">
    <div class="profile__aside__picture">
      <img src="../../../assets/images/man.jpg">
    </div>
    <hr>
    <div class="profile__aside__videos">

    </div>

  </div>

</div>