.nav{
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
        
    &__logo{
        
        background-size: cover;
        display: inline-block;
        margin-right:0.5rem;
        background-color: white;
        height: 2rem;
        border-radius: 5px;
        
        img{
            width: 1.9rem;
            height: 2rem;
        }
    }
    &__search{
        display: inline-block;
        background-color: $primary-font-color;
        margin-right: 7rem;
        border-radius: 0.2rem;
        
        
        i{
            padding-left: 0.5rem;
            color: $primary-color;
            font-size: 0.7rem;
            ///font-weight: 1px;
            
        }
        input{
            background-color: $primary-font-color;
            height: $primary-size;
            border-style: none;
            width: 15rem;
             border-radius: 0.2rem;

        }

    }
    &__menu{
        display: inline-block;
        margin: 0.3rem;
           .menu__item{

            list-style: none;
            display: inline-block;
            color: $primary-font-color;
            font-size: 12px;
            padding-right: $primary-size;
            &:hover{
                color: white;
            }
            .arrow{
                
                display: inline-block;
            }
            .image{
                // background-image: url(../images/user.png);
                background-size: cover;
                height: $small-size;
                width: $small-size;
                border-radius: 50%;
                border-color: $primary-font-color;
                border-style: solid;
                border-width: 0.5px;
            }
          
            i{
                display: flex;
                font-size: $small-size;
                justify-content: center;
                align-self:center;
                margin: auto;
                padding-bottom: 4px;
                color:$primary-font-color;

                &:hover{
                    color: #fff;
                }
            }
            span{
                font-size: 10px;
            }
            &:last-child{
                padding-left: 10px;
                
            }
            }

            
            &:hover{
                cursor: pointer;
                
            }

          
        
    }
    .border{
        border-right: solid $primary-font-color 0.5px;
    }
}