.nav{
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;;
    z-index: 20;
        
    &__logo{
        
        background-size: cover;
        display: inline-block;
        margin-right:0.5rem;
        background-color: white;
        height: 2rem;
        border-radius: 5px;
        
        img{
            width: 1.9rem;
            height: 2rem;
        }
    }
    &__search{
        display: inline-block;
        background-color: $primary-font-color;
        margin-right: 7rem;
        border-radius: 0.2rem;
        
        
        i{
            padding-left: 0.5rem;
            color: $primary-color;
            font-size: 0.7rem;
            ///font-weight: 1px;
            
        }
        input{
            background-color: $primary-font-color;
            height: $primary-size;
            border-style: none;
            width: 15rem;
             border-radius: 0.2rem;

        }

    }
    &__menu{
        display: inline-block;
        margin: 0.3rem;
           .menu__item{

            list-style: none;
            display: inline-block;
            color: $primary-font-color;
            font-size: 12px;
            padding-right: $primary-size;
            &:hover{
                color: white;
            }
            .arrow{
                
                display: inline-block;
            }
            .item__link{
                margin-top:0px;
            }
            .image{
                // background-image: url(../images/user.png);
                height: 1.1rem;
                width: 1.1rem;
                border-radius: 50%;
                border-color: #e1e9ee;
                border-style: solid;
                border-width: 0.5px;
                margin-left: 2px;
                margin-top: -41px;
               
                           
            }
            // .image__border{
                
            // }
            // .sora{
            //     margin-top: -10px;
            // }
            // .imageWhite{
            //     border:0.5px solid white;
            //     height: 25px;
            //     // margin-top: -25px;
            //     width: 32px;
            // }
          
            i{
                display: flex;
                font-size: $small-size;
                justify-content: center;
                align-self:center;
                margin: auto;
                padding-bottom: 4px;
                color:$primary-font-color;

                &:hover{
                    color: #fff;
                }
            }
            span{
                font-size: 10px;
            }
            &:last-child{
                padding-left: 10px;
                
            }
            }

            
            &:hover{
                cursor: pointer;
                
            }

          
        
    }
    // .border{
        // border-right:  solid $primary-font-color 0.5px;
        
    // }
}
.searchBox-container{
    
    width: 100%;
    height: 100%;
    background:rgba(41, 40, 40, 0.5); 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.searchBox{
    //display: none;
    background-color: $primary-font-color;
    width: 40%;
    margin-left: 19%;
    cursor: pointer;
    position: relative;
    margin-top:3.4rem ;
    z-index: 25;
    &__item{
        
        display: flex;
        padding: 5px;
        .item__photo{
            margin-left: 10px;
            padding-right: 10px;
            img{
                border-radius: 50%;
                height: 2rem;
                width: 2rem;
            }
           
            
        }
        span{
            display: flex;
        }
        h6{
            padding-top: 5px;
            
        }
    }
}
.active{
    display: block;
}