<div class="profile">


    <div class="profile__pictures">
        <div class="profile__pictures__background">
            <img class="profile__pictures__background" alt="cover" src="../../../assets/images/download.jpg">
        </div>

        <img alt="profile" class="profile__pictures__photo" src={{user.profile.profileImgPath}}>




    </div>
    <div class="profile__container">

        <div class=" others-details">
            <h3>{{user.name.firstName}}</h3>
            <h5>{{user.profile.headLine}}</h5>
            <div class="profile__container__persondetails__contactInfo">
                <h6>{{user.address}}</h6>

            </div>
            <div>
                <a href="#">Contact Info</a>
                <span> | {{user.email}}</span>
            </div>
            <div class="profile__container__square">
                show recuriters you're open to job opportunities__ you control who sees this.
                <br>
                <p>Get Started</p>
            </div>
        </div>
    </div>


    <!--About section-->
    <div class="profile__about">
        <div class="profile__about__header">
            <h4 class="h4">About</h4>

        </div>
        <div class="profile__about__content">
            <p>{{user.profile.about}}</p>
        </div>
    </div>


    <!-- skill section-->
    <div class="profile__about ">
        <div class="profile__about__header">
            <h4 class="h4">Skills &Endorsements</h4>

        </div>
        <div *ngFor="let skill of user.profile.skills" class="profile__about__content skill__content">
            <p>{{skill}}</p>
            <hr>
        </div>
    </div>


    <!-- iterest section-->
    <div class="profile__interest">
        <h4>Education</h4>
        <div class="item">
            <div class="photo">
                <img src="../../../assets/images/iti.jpg">

            </div>
            <div class="titles">
                <p class="p1">{{user.profile.education}}</p>

                <p class="p2">Trainee</p>
            </div>
        </div>
        <hr>
        <div class="item">
            <div class="photo">
                <img src="../../../assets/images/cs.png">

            </div>
            <div class="titles">
                <p class="p1">Faculty of computer scince</p>

                <p class="p2">Grduate</p>
            </div>
        </div>
    </div>

    <!-- section aside -->
    <!-- <div class="profile__aside">
        <div class="profile__aside__picture">
            <img src="../../../assets/images/man.jpg">
        </div>
        <hr>
        <div class="profile__aside__videos">

        </div>

    </div> -->

</div>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->